body{
	background: #F0F0F0;
	margin: 0;
	overflow: hidden;
}

#canvis{
	width: 100%;
	height: 100%;
	background: #AAAAAA;
}

#coding{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: black; 
	box-sizing: border-box;
	background-color: transparent;
	border: none;
	resize: none;
	overflow: hidden;
    border-style: none; 
    border-color: Transparent; 
	z-index: 3;
}